body {
	margin: 0;
}
.links {
	display: flex;
	background-color: aquamarine;
	justify-content: space-around;
	&__item {
		background-color: bisque;
		border: 1px solid black;
		text-decoration: none;
		color: black;
		font-size: 30px;
	}
}
